<style>
  #search-bar {
    display: flex;
    margin: 20px 20px;
    border-radius: 25px;
  }
  #search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
  }

  #search-bar button {
    margin-left: 15px;
  }

  .bulk-results {
    display: flex;
    flex-wrap: wrap;
  }

  .search {
    margin: 0px 10px 20px 10px;
    padding: 20px;
    background: #fafaff;
  }

  .search-header {
    height: 40px;
  }

  .search-term {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }

  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 150px;
    grid-gap: 20px;
  }

  .product {
    display: block;
    color: #333;
    text-decoration: none;
  }

  .product-image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
  }

  .product-info {
    height: 54px;
    overflow: hidden;
  }

  .product-name {
    font-size: 10px;
    margin-right: 10px;
  }

</style>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name= "viweport" content="width=device-width, initial-scale=1.0">
    <title>Group Member</title>
    <link rel="stylesheet" href="../static/css/group-member-style.css">
      <meta charset="utf-8" />
      <link rel="icon" type="image/png" href="static/img/favicon.ico">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta http-equiv="refresh" content="600">


      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />


        <!-- Bootstrap core CSS     -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Animation library for notifications   -->
        <link href="static/css/animate.min.css" rel="stylesheet"/>

        <!--  Light Bootstrap Table core CSS    -->
        <link href="static/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="static/css/demo.css" rel="stylesheet" />


        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="static/css/button.css" rel="stylesheet" />
        <link href="static/css/group-member-style.css" rel="stylesheet" />
        <link href="static/css/description.css" rel="stylesheet" />

  </head>
  <body>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="static/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="dashboard.html" class="simple-text">
                    Team Simple
                </a>
            </div>

            <div class="nav">
            <form id="search-bar" action="/search">
                  <input type="text" placeholder="Search.." name="search" value="{{ search_term }}" style="color:black">
            </form>
            </div>

           <ul class="nav">
                <li>
                    <a href="index.html">
                        <i class="pe-7s-graph"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="active">
                    <a href="group-member.html">
                        <i class="pe-7s-user"></i>
                        <p>Team Member</p>
                    </a>
                </li>

                <li>
                    <a href="ProjectDescription.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Project Description</p>
                    </a>
                </li>

                <li>
                    <a href="basemode.html">
                        <i class="pe-7s-note2"></i>
                        <p>Base Mode</p>
                    </a>
                </li>
                <li>
                    <a href="emojimode.html">
                        <i class="pe-7s-smile"></i>
                        <p>Emoji Mode</p>
                    </a>
                </li>
                <li>
                    <a href="analysis.html">
                        <i class="pe-7s-science"></i>
                        <p>Sentimental Analysis</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>

    <div class="main-panel">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-11">
                        <div class="card">

                            <div class="header">
                                <h4 class="title"> Team Member</b></h4>
                            </div>
                            <div class="content">
                            <p> </p>
                            <div class="test">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Backend Dev</P>
            <div class="image">
              <img src="../static/img/cat1.jpg">
            </div>
            <div class="details">
              <h2>Yichen Wang<br><span>yichen.wang@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Frontend Dev</P>
            <div class="image">
              <img src="../static/img/cat2.jpg">
            </div>
            <div class="details">
              <h2>Xu Han<br><span>xu.han-1@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Frontend Dev</P>
            <div class="image">
              <img src="../static/img/cat3.jpg">
            </div>
            <div class="details">
              <h2>Raza Ali<br><span>a.raza@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>DevOps</P>
            <div class="image">
              <img src="../static/img/cat4.jpg">
            </div>
            <div class="details">
              <h2>Tianshu Pang<br><span>tianshu.pang@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Frontend Dev</P>
            <div class="image">
              <img src="../static/img/cat5.jpg">
            </div>
            <div class="details">
              <h2>Peng Yan<br><span>peng.yan@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Backend Dev</P>
            <div class="image">
              <img src="../static/img/cat6.jpg">
            </div>
            <div class="details">
              <h2>Dongyao Wang<br><span>dongyao.wang@colorado.edu</span></h2>
            </div>
          </div>
        </div>


      </div>

                                <div class="footer">
                            
                                    <hr>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    </div>
    </div>
      
      </div>
  </body>
</html>
