<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <merta name= "viweport" content="width=device-width, initial-scale=1.0">
    <title>Group Member</title>
    <link rel="stylesheet" href="group-member-style.css">
  </head>
  <body>
    <h3>TeamSimple</h3>
    <h4>ATLS 5214 – Big Data Architecture</h4>
    <h5>Final Project</h5>
      <div class="test">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p> Backend Dev</P>
            <div class="image">
              <img src="static/img/user1.jpg">
            </div>
            <div class="details">
              <h2>Yichen Wang<br><span>yichen.wang@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p> Team Leader </P>
            <div class="image">
              <img src="static/img/user2.jpg">
            </div>
            <div class="details">
              <h2>Xu Han<br><span>xu.han-1@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p> Frontend Dev </P>
            <div class="image">
              <img src="static/img/user3.jpg">
            </div>
            <div class="details">
              <h2>Raza Ali<br><span>a.raza@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p> DevOps </P>
            <div class="image">
              <img src="static/img/user4.jpg">
            </div>
            <div class="details">
              <h2>Tianshu Pang<br><span>tianshu.pang@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Frontend Dev</P>
            <div class="image">
              <img src="static/img/user5.jpg">
            </div>
            <div class="details">
              <h2>Peng Yan<br><span>peng.yan@colorado.edu</span></h2>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>Backend Dev</P>
            <div class="image">
              <img src="static/img/user6.jpg">
            </div>
            <div class="details">
              <h2>Dongyao Wang<br><span>dongyao.wang@colorado.edu</span></h2>
            </div>
          </div>
        </div>


      </div>
  </body>
</html>
