<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <merta name= "viweport" content="width=device-width, initial-scale=1.0">
    <title>Project Description</title>
    <link rel="stylesheet" href="description.css">
  </head>
  <body>
    <h3>TeamSimple</h3>
    <h4>ATLS 5214 – Big Data Architecture</h4>
    <h5>Final Project Description</h5>
    <p> Our team worked on doing sentimental analysis on the Twitter data and utilized the big data techniques for it.
    For providing sense to our analysis we projected our results in different visualizations like pie charts, world map.
    Whereas we also filtered our collection of results and restricted it to selected countries for providing in depth detail
    and can built a data story.
    The high-level Architecture which was followed up in the project is explained below: </p>

    <center>
    <img src="static/img/architecture.png" alt="architecture diagram" width="500" height="333" margin: 0 auto class="wdn-stretch rounded-corners">

    </img>
  </center>
  </body>
</html>
